header{
    display: flex;
    justify-content: space-between;
    padding: 8px;

    div{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin-left: 50px;
    }
    button{
        width: 90px;
        height: 40px;
        border-radius: 30px;
        background-color: #3A86FF;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        border: none;
        margin-right: 50px;
    }
}