@import "/src/styles/common.scss";

.RankingContent {
    /* 잠깐 보기 편하라고 이동시키는거 */
    position: relative;
    top: 80px;

    border-top: 1px solid $gray;

    padding: 20px;

    margin-top: 10px;
    width: 100vh;
    height: 45vh;
    margin: 0 auto;
}